html{
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}



body {
    background-color: #016F52;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    min-width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 150px;
    background-image: linear-gradient(to right, greenyellow, orange, yellow, green);

}
input{
    vertical-align: baseline;
    horiz-align: left;
}
label{
    horiz-align: left;
}

.push{
    height: 16px;
}

.footer {
    background-color: #78BE20;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: auto;
    clear: both;
}
.footerForm{


}

.middleHeading {
    overflow: hidden;
    border-bottom: 2px solid black;
    background-color: #016F52;
    box-shadow: 12px 16px 26px 0px rgba(0, 0, 0, 0.4);

}

.topHeading {
    background-color: #78BE20;
    color: #fff;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 12px 16px 26px 0px rgba(0, 0, 0, 0.4);
}
.topHeadingCol2{
    font-family: georgia, garamond, serif;
    font-style: italic;
    text-shadow: 4px 4px #e77822;
    color: #fff;
    font-size: 56.5px;
}
.topHeadingRow{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    position: static;
    text-align: center;
    background-color: #78BE20;
    box-shadow: 12px 16px 26px 0px rgba(0, 0, 0, 0.4);
}

.bottomHeading {
    background-color: #78BE20;
    font-size: 20px;
    border-bottom: 2px solid black;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 12px 16px 26px 0px rgba(0, 0, 0, 0.4);
}

.widgetRow{
    margin: 16px;
    text-align: center;
}


.widget {
    background-color: #78BE20;
    border: 2px solid black;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    height: 100%;
    position: static;
    border-radius: 15px;
    padding: 16px 16px 2%;
    width: 25%;
    vertical-align: top;
    box-shadow: 12px 16px 26px 0px rgba(0, 0, 0, 0.4);
}



.middleHeading a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid black;
    font-size: 17px;
    box-shadow: 12px 16px 26px 0px rgba(0, 0, 0, 0.4);
}

.middleHeading a:hover {
    background-color: #7AC141;
    color: black;
}

.middleHeading a.active {
    background-color: #7AC141;
    color: black;
}

.middleHeading .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    html{
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
    body {
        background-color: #016F52;
        font-family: Arial, Helvetica, sans-serif;
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        overflow-x: hidden;
    }

    .middleHeading a:not(:first-child) {
        display: none;
    }

    .middleHeading a.icon {
        float: right;
        display: block;
    }
    .footer {
        background-color: #78BE20;
        position: relative;
        bottom: 0;
        margin: 0;
        width: 100%;
        height: auto;
        clear: both;
    }

    .topHeadingRow{
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        width: 100%;
        background-color: #78BE20;
        box-shadow: 12px 16px 26px 0;
        rgba(0, 0, 0, 0.4);
    }
    .push{
        height: 0;
    }
    .widget {
        background-color: #78BE20;
        border: 2px solid black;
        box-shadow: 12px 16px 26px 0;
        rgba(0, 0, 0, 0.4);
        border-radius: 15px;
        display: inline-block;
        width: 95%;
        padding: 8px;
    }

    .topHeadingCol2{
        text-align: center;
        font-family: georgia, garamond, serif;
        font-style: italic;
        text-shadow: 4px 4px #e77822;
        color: #fff;
        font-size: 36px;
    }
}

@media screen and (max-width: 600px) {
    .middleHeading {
        overflow: hidden;
        border-bottom: 2px solid black;
        background-color: #016F52;
        margin: 0;
        width: 100%;
    }

    .middleHeading.responsive {
        position: relative;
    }

    .middleHeading.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .middleHeading.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .bottomHeading {
        background-color: #78BE20;
        font-size: 18px;
        border-bottom: 2px solid black;
        color: #fff;    
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 12px 16px 26px 0px rgba(0, 0, 0, 0.4);
    }
}
