html{
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #016F52;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
}
.boxed {
    background-color: #78BE20;
    border: 2px #016F52;
    display: block;
    margin: 16px;
    max-height: 100%;

}
@media screen and (max-width: 600px) {
    html {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        background-color: #016F52;
        font-family: Arial, Helvetica, sans-serif;
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        overflow-x: hidden;
    }

    .boxed {
        background-color: #78BE20;
        border: 2px solid black;
        display: inline-block;
        min-width: 95%;
        max-width: 100%;
        min-height:95%;
        max-height:100%;
        margin: 8px;

    }
}